.navbar {
    position: fixed;       /* lock it to the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 7dvh;
    background-color: rgba(11, 11, 11, 0.98);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    color: #e1e1e1;
    font-weight: 300;
    font-size: 1.1rem;
    z-index: 9999;          /* keep it above everything */
}
#VT {
    background-color: #5A262B;
    font-weight: 900;
    border-radius: 30%;
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;
}

.linksContainer {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    flex: 1;
    font-size: 1.05rem;
    cursor: pointer;
}
.linksContainer li {
    transition: 1s;

}
.linksContainer li:hover {
    color: #5A262B;
}

.buttonsContainer {
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
    flex: 1;
}

.button {
    font-size: 1.05rem;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button-ghost {
    background: transparent;
    color: #E5E5E5;
    border: none;
}
.button-ghost:hover {
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
}

.button-primary {
    background-color: #6A2E33;
    color: #FFFFFF;
    border: none;
}
.button-primary:hover {
    background-color: #5A262B;
}
