.heroSection {
    position: relative;
    height: 130vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:
            linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
            url('../assets/hero-sectionbackground.jpeg') center/cover no-repeat;
    padding-top: 7.5dvh;  /* offset for navbar */
}


.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

.heroContent {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: white;
    max-width: 1000px;
    padding: 0 2rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#housingIcon {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    background: rgba(90, 38, 43, 0.3);
    padding: 0.6rem 1.5rem;
    border-radius: 999px;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(236, 109, 119, 0.3);
    border: 1px solid rgba(184, 76, 72, 0.4);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    margin-bottom: 2.5rem;
    transition: transform 0.3s ease;
}

#housingIcon:hover {
    transform: scale(1.05);
}

#housingIcon svg {
    color: #e66b2f;
    font-size: 1.25rem;
}

.heroContentText h1 {
    font-size: 7rem;
    font-weight: 800;
    line-height: 1.1;
    margin: 0;
}

#excellence {
    color: #e66b2f;
    font-size: 8rem;
    font-weight: 300;
    margin-bottom: 2.5rem;
}

.heroContentText p {
    margin-top: 2rem;
    font-size: 1.4rem;
    line-height: 1.9;
    color: #d7d7d7;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.heroButton {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    margin-top: 3.5rem;
    width: 100%;
}

#apply {
    background-color: #6A2E33;
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.6rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    height: 3.5rem;
    width: 16rem;
    font-size: 1.1rem;
}
#apply:hover {
    background-color: #5A262B;
    transform: translateY(-4px) scale(1.03);
}

#view {
    background-color: transparent;
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.6rem;
    font-weight: 600;
    border: 2px solid #e66b2f;
    cursor: pointer;
    transition: all 0.3s ease, transform 0.3s ease;
    height: 3.5rem;
    width: 16rem;
    font-size: 1.1rem;
}
#view:hover {
    background-color: #e66b2f;
    color: black;
    transform: translateY(-4px) scale(1.03);
}
